*{
	margin:0;
	padding:0;
}
#wrap{
	position:relative;
}
.box{
	padding:0 15px 15px 0px;
	float:left;
}
.img{
	border:1px solid #ccc;
	padding:10px;
	border-radius:5px;
}
img{
	width:200px;
	height:auto;
}
